
.carritoAnimacion{
    font-size: 50px;
    margin-top: 20px;
    text-align: center  ;
    
}
.logo{
    width: 50px;
    opacity: 0.3;
   justify-content: end;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer1{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
    background-color:yellow;
  justify-content: space-between;
    
   }
.pFooter{
    text-align: justify;
    margin: 20px;
}
.nav__ul{
    list-style: none;
}
.nav__ul li{
    display: inline-block;
     
}
.nav__ul li a{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace  ;
    color: white;
    padding: 50px 50px 50px 50px;
}
.card{
    margin: 20px;
    margin-top: 20px;
    height:380px;
    width:250px;
    border: solid 1px white;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
    color: white;
    
}
.imgcard{
height: 200px;
width: 200px;

}
p{
    text-align: center;
}


.thTitulo{
color:white;
font-size: 150%;

}
td{
    text-align: center;
    width: auto;
    
    
}

.bodyCarrito{
    background-image: url('carrito.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

.body{
    background-color: rgb(15, 15, 15);
}

.card:hover{
    transform: translateY(-20px);
    transition-duration: 1s;
}
