
.carritoAnimacion{
    font-size: 50px;
    margin-top: 20px;
    text-align: center  ;
    
}
a{
    display: flex;
    color: white;
    
}
.logo{
    width: 50px;
    opacity: 0.3;
   justify-content: end;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer1{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
    background-color:yellow;
    justify-content: space-between;
    
   }
.pFooter{
    text-align: justify;
    margin: 20px;
}
.nav__ul{
    list-style: none;
}
.nav__ul li{
    display: inline-block;
     
}
.nav__ul li a{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace  ;
    color: white;
    padding: 50px 50px 50px 50px;
}
.card{
    margin: 20px;
    height:380px;
    width:250px;
    border: solid 1px white;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
    color: white;
    
}
.imgcard{
height: 200px;
width: 200px;

}
p{
    text-align: center;
}


.thTitulo{
color:white;
font-size: 150%;

}
td{
    text-align: center;
    width: auto;
    
    
}

.bodyCarrito{
    background-image: url('carrito.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

.body{
    background-color: rgb(15, 15, 15);
    justify-content: center;
}


.card:hover{
    transform: translateY(-20px);
    transition-duration: 1s;
}
.form{
margin: 5% 0% 0% 30% ;
width:30%;
background-color: rgb(15, 15, 15);
border: solid 1px white;
color:white; 
}


/*mobile*/
@media screen and (max-width:600px){
    .card{
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
     .form{
        margin: auto ;
        width:80%;
        background-color: rgb(15, 15, 15);
        border: solid 1px white;
        color:white; 
        }
    tr{
    width: auto;
    }
    
    td{
    width: auto;
    font-size: 60%;
    }
  
    #finalizarCompra{
    margin-right: 0%;
    font-size: 10px;
    width: auto;
    height: 5%;
    }
    
    #vaciarCarrito{
    width: auto;
    height: 5%;
    font-size: 10px;
    }
    
    #importe{
        font-size: 15px;
       
    }
    
  
  
  }
 /*tablet*/
  @media screen and (min-width:600px ){
    .card{
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    #finalizarCompra{
        margin-right: 0%;
        font-size: 10px;
        width: auto;
        height: 5%;
        }
        
        #vaciarCarrito{
        width: auto;
        height: 5%;
        font-size: 10px;
        }
        
       
      
        
    }
    @media screen and ( min-width:768px ){
        .card{
            align-items: center;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
        }
    }
  
  @media screen and ( min-width:992px ){
    .card{
        align-items: center;
        justify-content: center;
        margin-right: 1%;
        margin-left: 3%;
       
    }
    #finalizarCompra{
        display: inline;
        margin-left: auto;
        width: auto;
        font-size: auto;
        margin-bottom: auto;
        margin-top: auto;
        
    }
    #vaciarCarrito{
        display: inline;
        margin-left: auto;
        margin-right: 10%;
        width: auto;
        font-size: auto;
        margin-bottom: auto;
        margin-top: auto; 
    }
   
      
  }